

//////////////////////////////////////////
///  Header
//////////////////////////////////////////

.Header {
    height: 37vh;

    &__img {
        padding: .8rem 2.5rem;

        display: flex;

        &-logo {
            height: 3vh;
            padding: 0 .4rem;
        }

        &-1 {
            flex: 1;
        }

        &-2 {
            padding: 0 3rem;
        }
    }
}

.main-nav {
    list-style: none;
    display: flex;
    justify-content: center;

    li {
        padding: .8rem 2.2rem;

        a:link,
        a:visited {
            font-family: 'Raleway', sans-serif;
            text-decoration: none;
            color: rgb(61, 59, 59);
            font-weight: 600;
            transition: all .2s ease-in-out;
        }

        a:hover,
        a:active {
            border-bottom: 2px solid #555454;
        }
    }
}
.background {
    height: 70vh;
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;

    &__art {
        height: 38vh;
        background-color: #fff;
        width: 40%;
        color: #000;
        position: absolute;
        top: 25%;
        left: 30%;

        li {
            display: flex;
            justify-content: center;
        }
    }
}

.insta {
    font-family: 'Raleway', sans-serif;
    margin-top: 1rem;
    font-weight: bold;
    margin-bottom: 1.2rem;
}

.art-paragraph {
    font-family: 'Source Serif Pro', serif;
    font-size: 1.6rem;
    text-align: center;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.button a {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    border-bottom: 2px solid #000;
}